body{
	background-image:url(books.jpg);
	background-size:cover;
	font-family:arial;
}
.wrap{
	position:absolute;
	width:30%;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
.search{
	width:100%;
	position:relative;
}
.searcterm{
	float:left;
	width:100%;
	border:3px solid #00B4CC;
	padding:11px;
	font-size:17px;
	outline:none;
}
.searcterm:focus{
	color:#00B4CC;
	border:3px solid #fff;
}
.searchbtn{
	position:absolute;
	width:50px;
	height:50px;
	border:1px solid #00B4CC;
	background-color:#00B4CC;
	text-align:center;
	color:#fff;
	cursor:pointer;
	font-size:20px;
}